<div>
  <h2><%= product.name %></h2>
  <p>Ціна: <%= number_to_currency(product.price) %></p>
  <p><%= product.description %></p>
  <%= button_to 'Додати до кошика', add_product_cart_path(product_id: product.id), method: :patch %>
</div>
